__pycache__/
*.py[cod]
*$PYTHONHASHSEED

venv/
.env/
*.venv

.env
*.env

pip-log.txt
pip-delete-this-directory.txt

logs/
*.log

.ipynb_checkpoints

.DS_Store

Thumbs.db

.vscode/
*.swp
*.swo
*.idea/
*.vscode/
*.code-workspace

instance/
*.bak

cloudinary.json
serpapi.json
